
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html{
  padding: 0;
  margin: 0;
}

.section_padding{
  padding: 0 80px;

}
.section_margin{
  margin: 30px 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

